# Data Analysis with Pandas - Problem Set


#### Reading in Data

1. Read in the comma-separated file "client_list.csv". Assign as variable `df1`.
2. Read in the delimted file "client_list.table". Assign as variable as `df2`.
3. Read in the fixed-width file "client_list.txt". Assign as variable `df3`
4. Read in the comma-separated file "client_list.csv", skip the first 3 rows, and ignore the header. Do not assign to variable (just return a view).
5. Read in the comma-separated file "client_list.csv". Set the column headers in all caps. Assign as variable `df`.
6. Read in the comma-separated file "client_list_practice.csv" and only extract the columns ["FIRST_NAME","AGE","EYE_COLOR"]. Do not assign to a variable.

#### Slicing a Data Set

7. Slice rows 5 through 11 of `df`. Can you provide two ways of doing this?
8. Return only the columns ['LAST_NAME','AGE','HAIR_COLOR'] for `df`. Can you provide two ways of doing this?
9. Combine problems 1 and 2: return rows 5 though 11 and columns  ['LAST_NAME','AGE','HAIR_COLOR'] for `df`. Can you provide two ways of doing this?

#### Simple Queries

10. Find the subset of `df` where the client's last name is "Smith".
11. Find the subset of `df` where the client's hair color is not black.
12. Find the subset of `df` where the client's hair color is red and reset the values to "ginger".

#### Complex Queries

13. Find the subset of `df` where the clients are females older than 30 years.
14. Repeat problem 1, but return only the hair color and eye color.
15. Find the unique combination of hair and eye color for women older than 25 years.


#### Additional Dataframe Operations

16. Perform a `merge` using "client_list.csv" and "customer_id_list.csv". Assign the resulting dataframe as `clients`.
17. Perform a `merge` using `clients` and "purchase_log.csv" and limit the subset to only clients who made purchases. Assign the resulting dataframe as `detailed_sales`.
18. Use `groupby` to find the client who spent the most money on purchases. Determine how much he/she spent. HINT: save the intermediate dataframe from using `groupby` as `spenders` before applying slicing to determine the client who spent the most money on purchases.
19. (BONUS) Modify the answer to problem 3 slightly to determine exactly what items where purchased by the top spending client.

#### Writing Files

20. Save `detailed_sales` as a csv file named "df_out.csv" with no indices.
21. Save `detailed_sales` to a pickle file named "df_out.p"

In [4]:
import pandas as pd

# Data Analysis with Pandas - Problem Set


#### Reading in Data

1. Read in the comma-separated file "client_list.csv". Assign as variable `df1`.

In [7]:
df1 = pd.read_csv('client_list.csv')
df1.head()

  first_name LAST_NAME gender  Age Hair_COLOR eye_Color
0   Jennifer     Jones      F   27      black     brown
1      Jaime   Roberts      M   32      brown     hazel
2    Michael   Johnson      M   55        red     green
3       Mary     Adams      F   42     blonde      blue
4     Robert  Phillips      M   37     blonde     brown

2. Read in the delimted file "client_list.table". Assign as variable as `df2`.

In [10]:
df2 = pd.read_table('client_list.table')
df2.head()

  first_name;LAST_NAME;gender;Age;Hair_COLOR;eye_Color
0                    Jennifer;Jones;F;27;black;brown
1                     Jaime;Roberts;M;32;brown;hazel
2                     Michael;Johnson;M;55;red;green
3                        Mary;Adams;F;42;blonde;blue
4                  Robert;Phillips;M;37;blonde;brown

3. Read in the fixed-width file "client_list.txt". Assign as variable `df3`

In [13]:
df3 = pd.read_fwf('client_list.txt')
df3.head()

  first_name LAST_NAME gender  Age Hair_COLOR eye_Color
0   Jennifer     Jones      F   27      black     brown
1      Jaime   Roberts      M   32      brown     hazel
2    Michael   Johnson      M   55        red     green
3       Mary     Adams      F   42     blonde      blue
4     Robert  Phillips      M   37     blonde     brown

4. Read in the comma-separated file "client_list.csv", skip the first 3 rows, and ignore the header. Do not assign to variable (just return a view).

In [16]:
print(pd.read_csv('client_list.csv', skiprows=3, header=None))

           0         1  2   3       4      5
0    Michael   Johnson  M  55     red  green
1       Mary     Adams  F  42  blonde   blue
2     Robert  Phillips  M  37  blonde  brown
3     Thomas     Moore  M  60   brown   blue
4    Natalie    Potter  F  21   brown  green
5     Brenda     Jones  F  18  blonde  brown
6    Michael     Smith  M  58   brown  brown
7   Jennifer     Smith  F  36   black  brown
8    Michael     Smith  M  37   black  hazel
9    Jessica    Rabbit  F  19   black   blue
10     Molly    Bryant  F  21   brown   blue
11     Jaime  Anderson  F  46   brown  green

5. Read in the comma-separated file "client_list.csv". Set the column headers in all caps. Assign as variable `df`.

In [23]:
#header_names=['FIRST_NAME', 'LAST_NAME', 'GENDER', 'AGE', 'HAIR COLOR', 'EYE COLOR']
df = pd.read_csv('client_list.csv')
df.columns = df.columns.str.upper()
df.head()

  FIRST_NAME LAST_NAME GENDER  AGE HAIR_COLOR EYE_COLOR
0   Jennifer     Jones      F   27      black     brown
1      Jaime   Roberts      M   32      brown     hazel
2    Michael   Johnson      M   55        red     green
3       Mary     Adams      F   42     blonde      blue
4     Robert  Phillips      M   37     blonde     brown

6. Read in the comma-separated file "client_list_practice.csv" and only extract the columns ["FIRST_NAME","AGE","EYE_COLOR"]. Do not assign to a variable.

In [26]:
print(pd.read_csv('client_list_practice.csv', usecols=['FIRST_NAME', 'AGE', 'EYE_COLOR']))

   FIRST_NAME   AGE EYE_COLOR
0    Jennifer  27.0     brown
1       Jaime  32.0     hazel
2     Michael  55.0     green
3        Mary  42.0       NaN
4         NaN  37.0     brown
5      Thomas  60.0      blue
6     Natalie   NaN     green
7      Brenda   NaN     brown
8     Michael  58.0     brown
9    Jennifer  36.0     brown
10    Michael  37.0     hazel
11    Jessica  19.0      blue
12      Molly  21.0      blue
13      Jaime  46.0     green

#### Slicing a Data Set

7. Slice rows 5 through 11 of `df`. Can you provide two ways of doing this?

In [29]:
print(df.iloc[5:12])
print(df.loc[5:11])

   FIRST_NAME LAST_NAME GENDER  AGE HAIR_COLOR EYE_COLOR
5      Thomas     Moore      M   60      brown      blue
6     Natalie    Potter      F   21      brown     green
7      Brenda     Jones      F   18     blonde     brown
8     Michael     Smith      M   58      brown     brown
9    Jennifer     Smith      F   36      black     brown
10    Michael     Smith      M   37      black     hazel
11    Jessica    Rabbit      F   19      black      blue
   FIRST_NAME LAST_NAME GENDER  AGE HAIR_COLOR EYE_COLOR
5      Thomas     Moore      M   60      brown      blue
6     Natalie    Potter      F   21      brown     green
7      Brenda     Jones      F   18     blonde     brown
8     Michael     Smith      M   58      brown     brown
9    Jennifer     Smith      F   36      black     brown
10    Michael     Smith      M   37      black     hazel
11    Jessica    Rabbit      F   19      black      blue

8. Return only the columns ['LAST_NAME','AGE','HAIR_COLOR'] for `df`. Can you provide two ways of doing this?

In [31]:
df_changed1 = df[['LAST_NAME','AGE','HAIR_COLOR']] 
df_changed1.head()

  LAST_NAME  AGE HAIR_COLOR
0     Jones   27      black
1   Roberts   32      brown
2   Johnson   55        red
3     Adams   42     blonde
4  Phillips   37     blonde

In [33]:
df_changed2 = df.loc[:,['LAST_NAME','AGE','HAIR_COLOR']] 
df_changed2.head()

  LAST_NAME  AGE HAIR_COLOR
0     Jones   27      black
1   Roberts   32      brown
2   Johnson   55        red
3     Adams   42     blonde
4  Phillips   37     blonde

9. Combine problems 1 and 2: return rows 5 though 11 and columns  ['LAST_NAME','AGE','HAIR_COLOR'] for `df`. Can you provide two ways of doing this?

In [29]:
combined_df1 = pd.concat([df1, df2], axis=1)
combined_df2 = pd.concat([df1, df2], ignore_index=1)

#### Simple Queries

10. Find the subset of `df` where the client's last name is "Smith".
11. Find the subset of `df` where the client's hair color is not black.
12. Find the subset of `df` where the client's hair color is red and reset the values to "ginger".

In [35]:
print(df[df['LAST_NAME'] == 'Smith'])
print(df[df['HAIR_COLOR'] != 'black'])
dff = df.loc[df['HAIR_COLOR'] == 'red', 'HAIR_COLOR'] = 'ginger'
print(dff)

   FIRST_NAME LAST_NAME GENDER  AGE HAIR_COLOR EYE_COLOR
8     Michael     Smith      M   58      brown     brown
9    Jennifer     Smith      F   36      black     brown
10    Michael     Smith      M   37      black     hazel
   FIRST_NAME LAST_NAME GENDER  AGE HAIR_COLOR EYE_COLOR
1       Jaime   Roberts      M   32      brown     hazel
2     Michael   Johnson      M   55        red     green
3        Mary     Adams      F   42     blonde      blue
4      Robert  Phillips      M   37     blonde     brown
5      Thomas     Moore      M   60      brown      blue
6     Natalie    Potter      F   21      brown     green
7      Brenda     Jones      F   18     blonde     brown
8     Michael     Smith      M   58      brown     brown
12      Molly    Bryant      F   21      brown      blue
13      Jaime  Anderson      F   46      brown     green
ginger

#### Complex Queries

13. Find the subset of `df` where the clients are females older than 30 years.
14. Repeat problem 1, but return only the hair color and eye color.
15. Find the unique combination of hair and eye color for women older than 25 years.

In [37]:
df[(df["GENDER"]== "F") & (pd.to_numeric(df["AGE"], errors='coerce') > 30)]

   FIRST_NAME LAST_NAME GENDER  AGE HAIR_COLOR EYE_COLOR
3        Mary     Adams      F   42     blonde      blue
9    Jennifer     Smith      F   36      black     brown
13      Jaime  Anderson      F   46      brown     green

In [41]:
df[["HAIR_COLOR", "EYE_COLOR"]]

   HAIR_COLOR EYE_COLOR
0       black     brown
1       brown     hazel
2      ginger     green
3      blonde      blue
4      blonde     brown
5       brown      blue
6       brown     green
7      blonde     brown
8       brown     brown
9       black     brown
10      black     hazel
11      black      blue
12      brown      blue
13      brown     green

In [43]:
dfo25 = df[(df["GENDER"] == "F") & (pd.to_numeric(df["AGE"], errors='coerce')  > 25)]
dfu= dfo25[["HAIR_COLOR", "EYE_COLOR"]].drop_duplicates()
dfu.head()

   HAIR_COLOR EYE_COLOR
0       black     brown
3      blonde      blue
13      brown     green

#### Additional Dataframe Operations

16. Perform a `merge` using "client_list.csv" and "customer_id_list.csv". Assign the resulting dataframe as `clients`.
17. Perform a `merge` using `clients` and "purchase_log.csv" and limit the subset to only clients who made purchases. Assign the resulting dataframe as `detailed_sales`.
18. Use `groupby` to find the client who spent the most money on purchases. Determine how much he/she spent. HINT: save the intermediate dataframe from using `groupby` as `spenders` before applying slicing to determine the client who spent the most money on purchases.
19. (BONUS) Modify the answer to problem 3 slightly to determine exactly what items where purchased by the top spending client.

In [96]:
df_customer = pd.read_csv("client_list.csv")
df_customer.columns = df_customer.columns.str.upper()
df_customer_id = pd.read_csv("customer_id_list.csv")
df_purchase = pd.read_csv('purchase_log.csv')
#print("df_customer.head()")
#print(df_customer.head())
#print("df_customer_id.head()")
#print(df_customer_id.head())
#print("df_purchase.head()")
#print(df_purchase.head())
df_clients = pd.merge(df_customer, df_customer_id, on=["FIRST_NAME","LAST_NAME","GENDER" ])
df_sales = pd.merge(df_clients, df_purchase, on="CUSTOMER_ID", how='inner')
#print("df_clients")
#print(df_clients)
#print("df_sales")
#print(df_sales)
df_spenders = df_sales.groupby("CUSTOMER_ID")["SKU"].sum().reset_index()
#print("df_spenders")
#print(df_spenders)
df_top_spender = df_spenders.loc[df_spenders["SKU"].idxmax()]
print(f"The client who spent the most money on purchases spent ${df_top_spender['SKU']:,.2f}")
df_tp_client = df_top_spender["CUSTOMER_ID"]
df_tc_purchases = df_sales[df_sales["CUSTOMER_ID"] == df_tp_client]
print("Items purchased by the top spending client:")
print(df_tc_purchases["ITEM_DESCRIPTION"])

The client who spent the most money on purchases spent $123,684.00
Items purchased by the top spending client:
4      box of chocolates
5    bottle of champagne
6      box of chocolates
7    bottle of champagne
Name: ITEM_DESCRIPTION, dtype: object

#### Writing Files

20. Save `detailed_sales` as a csv file named "df_out.csv" with no indices.
21. Save `detailed_sales` to a pickle file named "df_out.p"

In [100]:
df_sales.to_csv('df_out.csv', index=False)
df_sales.to_pickle('df_out.p')